WebContent/WEB-INF/resources/code.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="code" type="xs:string"/>
	<xs:element name="result" type="xs:byte"/>
	<xs:element name="webgl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>